{% extends 'base.html' %}

{% block info %}
<div class="container my-5 py-5">
    <div class="row align-items-center g-5">
        <div class="col-lg-6 text-center text-lg-start">
            <h1 class="display-3 text-white animated slideInLeft">Prova As Nossas<br>Bebidas Deliciosas</h1>
            <p class="text-white animated slideInLeft mb-4 pb-2"></p>
        </div>
        <div class="col-lg-6 text-center text-lg-end overflow-hidden">
            <img class="img-fluid" src="" alt="">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="d-grid gap-2">
    <a href="{% url 'beverages:categories' %}" role="button" class="btn btn-primary">Cardapio</a>
</div>
{% endblock %}